* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-content {
  text-align: center;
  font-size: 35px;
  text-shadow: 0.03em 0.03em 0 rgb(46, 42, 42);
}
.DescriptionText {
  text-align: center;
  font-size: 40px;
  text-shadow: 0.02em 0.02em 0 rgb(46, 42, 42);
  width: 50%;
  margin: 40px auto;
  background-color: rgb(218, 213, 216);
  color: rgb(6, 6, 6);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 8px 15px;
}
.DescriptionRight {
  background-color: rgb(255, 255, 255);
  color: rgb(34, 26, 26);
  margin: 5px auto;
  font-size: 25px;
  text-shadow: 0.02em 0.02em 0 rgb(46, 42, 42);
  padding: 10px;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.DescriptionText2 {
  text-align: center;
  font-size: 40px;
  text-shadow: 0.02em 0.02em 0 rgb(46, 42, 42);
  width: 50%;
  margin: 80px auto;
  background-color: rgb(218, 213, 216);
  color: rgb(6, 6, 6);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 8px 15px;
}
.DescriptionRight2 {
  background-color: rgb(255, 255, 255);
  color: rgb(34, 26, 26);
  margin: 5px auto;
  font-size: 25px;
  text-shadow: 0.02em 0.02em 0 rgb(46, 42, 42);
  padding: 10px;
}
.image2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.text {
  position: relative;
  text-align: center;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  text-transform: uppercase;
  font-family: verdana;
  font-size: 12em;
  font-weight: 700;
  color: #914646;
  text-shadow: 1px 1px 1px #a85d5d, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}
